In [2]:
d ={}
d = dict()
print(type(d))

<class 'dict'>

In [4]:
#d = {<key>:<value>,<key>:<value>,<key>:<value>}
a = {"a":"Apple","b":"Ball","c":"Cat"}
a
print(a['a'])
print(a['b'])

Apple
Ball

In [5]:
a = {"a":"Apple","b":"Ball","c":"Cat","A":"Apple"}
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [6]:
a = {"a":"Apple","b":"Ball","c":"Cat","a":"apple"}
a

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [7]:
d = {}
d["a"] = "Apple"
d["b"] = "Ball"
d

{'a': 'Apple', 'b': 'Ball'}

In [8]:
d = {}
d["a"] = "Apple"
d["b"] = "Ball"
d['a'] = 'Ant'
d

{'a': 'Ant', 'b': 'Ball'}

In [9]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone
print(d)

Enter n = 2
Enter name = ram
Enter phone = 9841125636
Enter name = hari
Enter phone = 9854441256
{'ram': 9841125636, 'hari': 9854441256}

In [10]:
a = {'ram': 9841125636, 'hari': 9854441256}
a['shyam'] = 9854414785
a

{'ram': 9841125636, 'hari': 9854441256, 'shyam': 9854414785}

In [11]:
for i in a:
    print(i)

ram
hari
shyam

In [12]:
for i in a.values():
    print(i)

9841125636
9854441256
9854414785

In [13]:
for i in a.items():
    print(i)

('ram', 9841125636)
('hari', 9854441256)
('shyam', 9854414785)

In [14]:
l = []
for i in a.items():
    l.append(i)
l

[('ram', 9841125636), ('hari', 9854441256), ('shyam', 9854414785)]

In [16]:
d = dict(l)
d

{'ram': 9841125636, 'hari': 9854441256, 'shyam': 9854414785}

In [17]:
a = (('ram', 9841125636), ('hari', 9854441256), ('shyam', 9854414785))
dict(a)

{'ram': 9841125636, 'hari': 9854441256, 'shyam': 9854414785}

In [19]:
a = [['ram', 9841125636], ['hari', 9854441256], ['shyam', 9854414785]]
b = dict(a)
b

{'ram': 9841125636, 'hari': 9854441256, 'shyam': 9854414785}

In [20]:
list(b)

['ram', 'hari', 'shyam']

In [21]:
a = {'ram': 9841125636, 'hari': 9854441256, 'shyam': 9854414785}
a['ram'] = 9847777899
a

{'ram': 9847777899, 'hari': 9854441256, 'shyam': 9854414785}

In [22]:
a = {'ram': 9841125636, 'hari': 9854441256, 'shyam': 9854414785}
del a['ram']
a

{'hari': 9854441256, 'shyam': 9854414785}

In [24]:
a = {'ram': 9841125636, 'hari': 9854441256, 'shyam': 9854414785}
b = a.pop("shyam")
print(a)
print(b)

{'ram': 9841125636, 'hari': 9854441256}
9854414785

In [25]:
# list inside dict
a = {'ram': [9841125636,98455555788], 'hari': 9854441256, 'shyam': 9854414785}
a

{'ram': [9841125636, 98455555788], 'hari': 9854441256, 'shyam': 9854414785}

In [28]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    p1 = int(input("Enter phone = "))
    p2 = int(input("Enter another phone = "))
    add = input("Enter address = ")
    d[name] = [p1,p2,add]
print(d)

Enter n = 2
Enter name = hari
Enter phone = 9556
Enter another phone = 8745
Enter address = ktm
Enter name = shyam
Enter phone = 5622
Enter another phone = 41225
Enter address = ktm
{'hari': [9556, 8745, 'ktm'], 'shyam': [5622, 41225, 'ktm']}

In [29]:
a = {'ram': [9841125636, 98455555788], 'hari': [9854441256, 9854414785]}
b = {'shyam':[9841147859,3256698547]}
a.update(b)
a

{'ram': [9841125636, 98455555788],
 'hari': [9854441256, 9854414785],
 'shyam': [9841147859, 3256698547]}

In [31]:
a['ram'][0] = 8745596845
a

{'ram': [8745596845, 98455555788],
 'hari': [9854441256, 9854414785],
 'shyam': [9841147859, 3256698547]}

In [ ]:
# Wap to create the given type
# d = {"Name" :["Ram","Shyam","Hari:],
#      "Age" :[55,56,45],
#       "Address" :["Kathmandu","Bhaktapur","Lalitpur"]}

In [1]:
d = {"Name":[],"Age":[],"Address":[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    
    d["Name"].append(name)
    d["Age"].append(age)
    d["Address"].append(add)
print(d)

Enter n = 3
Enter name = Ram
Enter age = 55
Enter address = Ktm
Enter name = Hari
Enter age = 56
Enter address = Ktm
Enter name = shyam
Enter age = 57
Enter address = lalitpur
{'Name': ['Ram', 'Hari', 'shyam'], 'Age': [55, 56, 57], 'Address': ['Ktm', 'Ktm', 'lalitpur']}

In [2]:
#  wap to create following type 
# l = [{"Name":"Ram","Age":45,"Address":"Kathmandu"},
# {"Name":"Shyam","Age":55,"Address":"Lalitpur"},
# {"Name":"Hari","Age":35,"Address":"Bhaktapur"}]

# d = {1:{"Name":"Ram","Age":45,"Address":"Kathmandu"},
# 2:{"Name":"Shyam","Age":55,"Address":"Lalitpur"},
# 3:{"Name":"Hari","Age":35,"Address":"Bhaktapur"}}

In [1]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    data = {"Name":name,"Age":age,"Address":add}
    l.append(data)
print(l)

Enter n = 2
Enter name = Ram
Enter age = 55
Enter address = Kathmandu
Enter name = Hari
Enter age = 45
Enter address = Bhaktapur
[{'Name': 'Ram', 'Age': 55, 'Address': 'Kathmandu'}, {'Name': 'Hari', 'Age': 45, 'Address': 'Bhaktapur'}]

In [3]:
a = [{'Name': 'Ram', 'Age': 55, 'Address': 'Kathmandu'},
{'Name': 'Hari', 'Age': 45, 'Address': 'Bhaktapur'}]
a[0]["Name"] = "Raj"
a

[{'Name': 'Raj', 'Age': 55, 'Address': 'Kathmandu'},
 {'Name': 'Hari', 'Age': 45, 'Address': 'Bhaktapur'}]

In [4]:
l = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    data = {"Name":name,"Age":age,"Address":add}
    l[i]=data
print(l)

Enter n = 2
Enter name = Ram
Enter age = 55
Enter address = Kathmandu
Enter name = Hari
Enter age = 45
Enter address = Bhaktapur
{1: {'Name': 'Ram', 'Age': 55, 'Address': 'Kathmandu'}, 2: {'Name': 'Hari', 'Age': 45, 'Address': 'Bhaktapur'}}